
//- Requested fonts
link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,300")

//- !!! Do not remove the empty comments !!!
|<!-- -->
|<!-- build:js scripts/main.min.js -->
|<!-- -->
//- script(defer src="scripts/main.js")
|<!-- -->
|<!-- endbuild -->
|<!-- -->

//- social media snippets
!= partial("_social")
