//
//
//

.hero {
  @extend %grid;

  margin-left: 0;
  text-align: center;

  background-color: mdl-color($palette-red-300); // fallback
  @include gradient-vertical-three-colors(#ef5350, #fff, 40%, #fff);

  @include bem-element(image) {
    @extend %grid__item;

    position: relative;
    background-attachment: scroll;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 60vh;
    background-image: url("#{$image_path}/logo@1024.png");

    &::after {

      bottom: 0;
      content: "";
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  @include bem-element(nav) {
      @extend %grid__item;
  }
}

@include grid-media-query(palm) {
  .hero {
    @include bem-element(image) {
      background-image: url("#{$image_path}/logo@480.png");
    }
  }
}
