/**
 * friendsdog.com.br
 *
 * @see http://codeguide.co/#css
 */

body {
  @include gradient-vertical-three-colors(#f44336, #fff, 70%, #fff);
  padding-top: 5vh;
}

.hero {
  text-align: center;
  padding: 0px;
}

// desktop
@media (min-width: $grid-tablet-breakpoint) {
  body {
    padding-top: 15vh;
  }

  .hero {
    width: 960px;
  }
}

// phones
@media (max-width: $grid-tablet-breakpoint - 1) {
  // .hero {
  //   height: auto;
  //   max-width: 100%;
  //
  //   & >figure {
  //     margin-left: 4vh;
  //     margin-right: 4vh;
  //   }
  // }
}
