/**
 * friendsdog.com.br
 *
 * @see http://codeguide.co/#css
 */

.icon {
  height: 10vmin;
  width: 10vmin;
  margin: 1vh;
  margin-bottom: 2vh;
  border-radius: 2vmin;

  @each $social, $color in $social-colors  {
    @include bem-modifier($social) {
      background-color: $color;
      fill: #fff;

      @include bem-modifier(inverse) {
        background-color: transparent;
        fill: $color;
      }
    }
  }
}
