//
// Resets
//

html {
  color: $text-color-primary;
  font-family: $preferred_font;
  font-weight: 300;
  font-size: 100%/1.5;
}

img {
  height: auto;
  max-width: 100%;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
