//
// Table of contents
//
// - Colors
// - Options
// - Spacing
// - Body
// - Links
// - Grid breakpoints
// - Grid containers
// - Grid columns
// - Fonts
// - Components

//
// Colors
//

// @see http://www.google.com/design/spec/style/color.html
@import "../../node_modules/material-design-lite/src/color-definitions";

$social-colors: (
  facebook:   #3b5997,
  friendsdog: #f44336,
  google:     #d64937,
  instagram:  #ddc4ae,
  location:   #f7544c,
  twitter:    #41b7d8,
  whats-app:  #28b43f
);


//
// Options
//

// $image_path:                '../images';
$use-silent-classes:        true;
$gutter:                    1.5rem;

//
// Typography
//
// Font, line-height, and color for body text, headings, and more.

// twbs
$font-family-sans-serif:    'Open Sans', sans-serif;
$font-family-base:          $font-family-sans-serif;

// mdl
$preferred_font:            $font-family-base;
$performance_font:          $preferred_font;

//
// Body
//
// Settings for the `<body>` element.
